* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

nav {
  width: 92%;
  max-width: 1600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: aquamarine; */
}

.container .logo {
  margin-top: 16px;
  margin-bottom: 16px;
}

.menu {
  display: flex;
  list-style: none;
  gap: 32px;
}

nav .menu a {
  font-size: 16px;
  font-weight: 500;
  color: #001931;
  text-decoration: none;
  line-height: 192%;
  cursor: pointer;
}

.container .nav-btn .btn {
  background-color: #469165;
  border: none;
  padding: 12px 16px 12px 16px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
  font-family: inter;
}

.nav-btn .btn:hover {
  color: #255784;
  background: #2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  transition-delay: 0.2s;
}

#banner {
  min-height: 674px;
  background: url("./assets/hero-bg.png");
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
}
.banner-content {
  max-width: 1360px;
  /* height: 379px; */
  margin: 0 auto;
  margin-top: 115px;
}

.banner-content .early {
  padding: 8px 12px;
  background: #ffffff;
  display: inline-block;
  text-align: center;
  justify-content: center;
  border-radius: 1000px;
  margin-bottom: 16px;
  color: #30b868;
  font-weight: 500;
  line-height: 19px;
  cursor: pointer;
}

.banner-content h1 {
  color: #ffffff;
  font-size: 72px;
  font-weight: 700;
  line-height: 84px;
  margin-bottom: 16px;
}

h1 .h-color {
  color: #30b868;
}

.banner-content .pera {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #ffffff;
  margin-bottom: 32px;
  text-align: center;
}

.banner-button .pro-btn {
  border-radius: 4px;
  border: none;
  background-color: #469165;
  padding: 12px 16px;
  margin-right: 16px;
  color: #ffffff;
  justify-content: space-evenly;
}

.pro-btn:hover {
  color: #255784;
  background: #2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  transition-delay: 0.2s;
}

.banner-button .new-btn {
  border-radius: 4px;
  border: 1px solid white;
  background-color: transparent;
  padding: 12px 16px;
  margin-right: 16px;
  color: #ffffff;
  justify-content: space-evenly;
}
.new-btn:hover {
  color: #255784;
  background: #2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  transition-delay: 0.2s;
}

#note-taking {
  margin: 0 auto;
}

#note-taking .note-container {
  text-align: center;
}

.note-container .section-heading {
  max-width: 1360px;
  text-align: center;
  margin: 0 auto;
}
.note-container .section-heading h2 {
  font-style: Bold;
  font-size: 48px;
  font-weight: 700;
  padding-top: 40px;
  margin-bottom: 16px;
}
.note-container .section-heading p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #627382;
  margin-bottom: 44px;
}

#note-taking .note-container .note-info {
  display: flex;
  justify-content: space-evenly;
}

.note-info .info-card {
  background-color: #ffffff;
  box-shadow: 0 10px 50px 0 #00000017;
  margin-right: 24px;
  /* border: 2px solid black; */
  padding: 24px 24px;
  width: 322px;
}

.note-info .info-card img {
  background-color: #f95555;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 16px 16px;
  margin-bottom: 16px;
}

.note-info .info-card h4 {
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  color: #001931;
  margin-bottom: 16px;
}

.note-info .info-card p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #627382;
  margin-bottom: 22px;
}

#second-brain {
  padding: 120px 120px;
}

.second-brain-container {
  display: flex;
  gap: 60px;
}
.second-brain-container .content {
  margin: 102px 0;
}

.content .head .green {
  color: #30b868;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}
.content .head .simple {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #627382;
  margin-bottom: 40px;
}
.content .head h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  margin-bottom: 16px;
  color: #001931;
}

.content .content-info p {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 16px;
}
