
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}






nav{
    width: 1600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: aquamarine;


}

.container .logo{
    margin-top: 16px;
    margin-bottom: 16px;

}

.menu {
  display: flex;
  list-style: none;
  gap: 32px;
}

nav .menu a {
  font-size: 16px;
  font-weight: 500;
  color: #001931;
  text-decoration: none;
  line-height: 192%;
  cursor: pointer;
}


.container .nav-btn .btn {
  background-color: #30B868;
  border: none;
  padding: 12px 16px 12px 16px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
  cursor: pointer;
  font-family: inter;
}

.nav-btn .btn:hover{
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px
#2196F3;
    transition-delay: .2s;

}