* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.common-btn {
  background-color: #469165;
  border: none;
  padding: 12px 16px 12px 16px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
  font-family: inter;
}

.hover:hover {
  color: #d7078ee1;
  background: #02f2ffd0;
  box-shadow: 0 0 10px #02caf6, 0 0 40px #02caf6, 0 0 80px #02caf6;
  transition-delay: 0.2s;
}

.common-h2 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 16px;
  color: #001931;
}

/* common-css for this webpage ends here */

nav {
  width: 92%;
  max-width: 1600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container .logo {
  margin-top: 16px;
  margin-bottom: 16px;
}

.menu {
  display: flex;
  list-style: none;
  gap: 32px;
}

nav .menu a {
  font-size: 16px;
  font-weight: 500;
  color: #001931;
  text-decoration: none;
  line-height: 192%;
  cursor: pointer;
}

.container .nav-btn .btn {
  font-family: inter;
}

#banner {
  min-height: 674px;
  background: url("./assets/hero-bg.png");
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
}
.banner-content {
  max-width: 1360px;
  margin: 0 auto;
  margin-top: 115px;
}

.banner-content .early {
  padding: 8px 12px;
  background: #ffffff;
  display: inline-block;
  text-align: center;
  justify-content: center;
  border-radius: 1000px;
  margin-bottom: 16px;
  color: #30b868;
  font-weight: 500;
  line-height: 19px;
  cursor: pointer;
}

.banner-content h1 {
  color: #ffffff;
  font-size: 72px;
  font-weight: 700;
  line-height: 84px;
  margin-bottom: 16px;
}

h1 .h-color {
  color: #30b868;
}

.banner-content .pera {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #ffffff;
  margin-bottom: 32px;
  text-align: center;
}

.banner-button .pro-btn {
  margin-right: 16px;
  justify-content: space-evenly;
}

.banner-button .new-btn {
  border: 1px solid white;
  background-color: transparent;
  margin-right: 16px;
  justify-content: space-evenly;
}

/* note taking section starts here  */

#note-taking {
  margin: 0 auto;
}

#note-taking .note-container {
  text-align: center;
}

.note-container .section-heading {
  max-width: 1360px;
  text-align: center;
  margin: 0 auto;
}
.note-container .section-heading h2 {
  padding-top: 40px;
}
.note-container .section-heading p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #627382;
  margin-bottom: 44px;
}

#note-taking .note-container .note-info {
  display: flex;
  justify-content: space-evenly;
}

.note-info .info-card {
  background-color: #ffffff;
  box-shadow: 0 10px 50px 0 #00000017;
  margin-right: 24px;
  /* border: 2px solid black; */
  padding: 24px 24px;
  width: 322px;
}

.note-info .info-card img {
  background-color: #f95555;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 16px 16px;
  margin-bottom: 16px;
}

.note-info .info-card h4 {
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  color: #001931;
  margin-bottom: 16px;
}

.note-info .info-card p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #627382;
  margin-bottom: 22px;
}

/* second brain section starts here  */

#second-brain {
  padding: 120px 120px;
}

.second-brain-container {
  display: flex;
  gap: 60px;
}
.second-brain-container .content {
  margin: 102px 0;
}

.content .head .green {
  color: #30b868;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}
.content .head .simple {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #627382;
  margin-bottom: 40px;
}
.content .head h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  margin-bottom: 16px;
  color: #001931;
}

.content .content-info p {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 16px;
}
/* early access section starts */

#early-access {
  margin: 0 auto;
}

#early-access .early-access-container {
  margin: 2px 120px 120px 120px;
  padding: 80px 40px;
  text-align: center;
  background-color: #f7f6f2;
  border-radius: 12px;
}

.early-access-container .head h2 {
  line-height: 58px;
}

.early-access-container .head p {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 24px;
  color: #627382;
}

.early-access-container .button button {
  line-height: 19px;
  margin-bottom: 16px;
}

.early-access-container .button p {
  color: #627382;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
/* footer section start */

.footer {
  width: 100%;
  background: linear-gradient(135deg, #041c32, #04293a);
  color: #ffffff;
  padding: 120px 120px 30px 120px;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.footer-container .logo {
  margin-bottom: 83px;
  cursor: pointer;
}

.footer-social h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 16px;
}

.social-icons {
  display: flex;
  gap: 16px;
}

.social-icons a {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ffffff;
  color: #04293a;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  text-decoration: none;
  margin-bottom: 80px;
}
.social-icons a:hover {
  background: #4ade80;
  color: #022c22;
}
.footer-divider {
  height: 0.5px;
  background-color: #fafafa;
  opacity: 25%;
  margin-bottom: 30px;
}
.footer-copy {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 30px;
}
